<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM" version="8.1.5717.0" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="TikaOnDotnet" version="1.17.1" targetFramework="net472" />
  <package id="TikaOnDotnet.TextExtractor" version="1.17.1" targetFramework="net472" />
</packages>